<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Potin n°<%=index%></h1>

    Son auteur : <%=gossip.author%><br />
    Le contenu du potin : <%=gossip.content%><br /><br />

    <a href="/edit/<%=index%>">Editer un potin</a>
    <a href="/">Revenir à la page d'accueil</a>
    </ul>
  </body>
</html>

